@font-face {
    font-family: "PPMori";
    src: url(./../fonts/PPMori-Regular.otf)
}

.ff-ppmori{
    font-family: "PPMori";
}

.p-7{
    padding: 7rem ;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg-cream{
    background-color: #fdf6ed !important;
}

.btn-menu {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.btn-menu .line {
    width: 100%;
    height: 3px;
    background-color: #000;
    transform-origin: center; /* Asegura que la rotaci贸n sea desde el centro */
    transition: all 0.3s ease;
}
/* Contenedor del bot贸n */
.btn-menu-container {
    width: 80px;
    height: 70px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title{
    font-size:1.5rem;
    font-family: "PPMori";
}

.menu-title{
    font-family: "PPMori";
}

.w-350px{
    width: 40% !important;
}

.social-container{
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 1000;
}

.btn-circle-hover{
    position: relative;
    height: max-content;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #000000 !important;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    text-emphasis: white;
}


.btn-circle-hover .circle {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #d2d2d2; /* Color del c铆rculo */
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.btn-circle-hover span {
    position: relative;
    z-index: 1; /* Asegura que el texto est茅 encima del c铆rculo */
}

/*  Borde derecho e izquierdo (ya los tienes definidos) */

.title{
    font-family: "PPMori";
    font-size: 4rem;
}

#table-cicle td.first-column {
    white-space: nowrap; /* Evita que el contenido haga saltos de l铆nea */
    width: 1%; /* Reduce el ancho al m铆nimo necesario */
}

/*  Estilo general de la tabla */
#table-cicle {
    border-collapse: collapse;
    width: 100%;
}
  
  /*  Estilo para las celdas */
#table-cicle td {
    border: 1px solid #ccc; /* Bordes blancos */
    padding: 8px; /* Espaciado dentro de las celdas */
}
  
  /*  Eliminar bordes izquierdo, superior e inferior del primer td de cada fila */
 #table-cicle td.first-column {
    border-left: none;
    border-top: none;
    border-bottom: none;
    white-space: nowrap; /* Asegura que el texto no salte de l铆nea */
}
  
  /*  Centrar el contenido de la segunda columna */
#table-cicle tr td:nth-child(2) {
    text-align: center;
}
  
  /*  Estilo del texto dentro de la tabla */
#table-cicle h3 {
    margin: 0;
    margin-right: 2rem;
}
  
.progress-container {
    position: relative;
    width: 100%;
    height: 50px; /* Mant茅n la altura seg煤n tu dise帽o */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo de la barra */
    overflow: hidden; /* Oculta el exceso */
}
  
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* Empieza desde 0 */
    background-color: white; /* Mantiene el color original */
    transform-origin: left; /* La animaci贸n comienza desde la izquierda */
}
  
.progress-bar::after {
    position: absolute;
    right: 5px; /* Separaci贸n del borde derecho */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
    font-family: "PPMori"; /* Conserva tu fuente personalizada */
}


.section {
    position: relative;
    width: 100%;
    overflow: hidden; /* Evita desbordamiento */
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150% !important;
    object-fit: cover; /* Asegura que la imagen cubra el 谩rea sin distorsionarse */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
   
}

html, body {
    overflow-x: hidden !important;
    min-height: 100% !important;
}

#smooth-content {
    min-height: 100vh !important;
}


.border-secondSection-right,
.border-secondSection-left {
    position: relative;
}

.border-secondSection-right .border {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci贸n */
    height: 2px;
    background-color: #ffffff9c !important;
 /*    transform: scaleY(0.75);  */
}

.border-secondSection-right .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /*  Inicia desde la derecha */
    width: 0;  /*  Comienza sin ancho */
    height: 2px;
    background-color: #ffffff9c !important;
    /* transform: scaleY(0.75); */
}
.border-secondSection-right .border-top {
    position: absolute;
    top: 100%;  
    right: 0;
    width: 2px;
    height: 0;  /* Inicialmente 0 para animaci贸n */
    background-color: #ffffff9c !important;
}

.border-secondSection-right .border-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    background-color: #ffffff9c !important;
}

/*-----*/

.border-secondSection-left .border-right {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci贸n */
    height: 2px;
    background-color: #ffffff9c !important;
   /*  transform: scaleY(0.75);  */
}

.border-secondSection-left .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /*  Inicia desde la derecha */
    width: 0;  /*  Comienza sin ancho */
    height: 2px;
    background-color: #ffffff9c !important;
    /* transform: scaleY(0.75); */
}
.border-secondSection-left .border-top {
    position: absolute;
    top: 100%;  
    right: 100%;
    width: 2px;
    height: 0;  /* Inicialmente 0 para animaci贸n */
    background-color: #ffffff9c !important;
}

.border-secondSection-left .border-bottom {
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 2px;
    height: 0;
    background-color: #ffffff9c !important;
}

.border-center {
    position: absolute;
    top: 100%;
    left: 50%; 
    width: 0; 
    height: 2px;
    background-color: #ffffff9c !important;
    transform: translateX(-50%); 
  
}

.table-menu {
    table-layout: fixed; /*  Evita que el navegador ajuste los anchos autom谩ticamente */
}

.td-width {
    width: 33.33% !important; /*  Asegura que cada columna tenga el mismo ancho */
    box-sizing: border-box; /*  Evita que el `padding` o `border` afecte el tama帽o */
}





html, body {
    -webkit-font-smoothing: antialiased; /* Mejora el renderizado de texto y bordes */
    -webkit-backface-visibility: hidden; /* Elimina inconsistencias de renderizado */
    backface-visibility: hidden;
}
/***/

.border-table-right,
.border-table-left {
    position: relative;
}

.border-table-right .border {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci贸n */
    height: 2px;
    background-color: #000 !important;
 /*    transform: scaleY(0.75);  */
}

.border-table-right .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /*  Inicia desde la derecha */
    width: 0;  /*  Comienza sin ancho */
    height: 2px;
    background-color: #000 !important;
    /* transform: scaleY(0.75); */
}
.border-table-right .border-top {
    position: absolute;
    top: 100%;  
    right: 0;
    width: 2px;
    height: 0;  /* Inicialmente 0 para animaci贸n */
    background-color: #000 !important;
}

.border-table-right .border-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    background-color: #000 !important;
}

/*-----*/

.border-table-left .border-right {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci贸n */
    height: 2px;
    background-color: #000 !important;
   /*  transform: scaleY(0.75);  */
}

.border-table-left .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /*  Inicia desde la derecha */
    width: 0;  /*  Comienza sin ancho */
    height: 2px;
    background-color: #000 !important;
    /* transform: scaleY(0.75); */
}
.border-table-left .border-top {
    position: absolute;
    top: 100%;  
    right: 100%;
    width: 2px;
    height: 0;  /* Inicialmente 0 para animaci贸n */
    background-color: #000 !important;
}

.border-table-left .border-bottom {
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 2px;
    height: 0;
    background-color: #000 !important;
}

.border-center-black {
    position: absolute;
    top: 100%;
    left: 50%; 
    width: 0; 
    height: 2px;
    background-color: #000 !important;
    transform: translateX(-50%); 
  
}

