@font-face {
    font-family: "BasisGrotesqueArabicPro";
    src: url(./../fonts/BasisGrotesqueArabicPro-Regular.ttf)
}

@font-face {
    font-family: "PPMori";
    src: url(./../fonts/PPMori-Regular.otf)
}

.ff-ppmori{
    font-family: "PPMori";
}

.ff-basis{
    font-family: "BasisGrotesqueArabicPro";
}

.p-7{
    padding: 7rem ;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg-cream{
    background-color: #fdf6ed !important;
}

.btn-menu {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.btn-menu .line {
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: center; /* Asegura que la rotaci칩n sea desde el centro */
    transition: all 0.3s ease;
}
/* Contenedor del bot칩n */
.btn-menu-container {
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title{
    font-size:1.5rem;
    font-family: "PPMori";
}

.menu-title{
    font-family: "PPMori";
}

.w-350px{
    width: 40% !important;
}

.social-container{
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 1000;
}

.btn-circle-hover, .btn-form-hover{
    position: relative;
    height: max-content;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #000000 !important;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    text-emphasis: white;
}


.btn-circle-hover .circle {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #d2d2d2; /* Color del c칤rculo */
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.btn-circle-hover span {
    position: relative;
    z-index: 1; /* Asegura que el texto est칠 encima del c칤rculo */
}

/* 游댳 Borde derecho e izquierdo (ya los tienes definidos) */

.title {
    font-family: "PPMori";
    font-size: clamp(1.45rem, 5vw, 4rem); /* Ajuste gradual entre 2rem y 4rem */
    white-space: nowrap; /* Evita saltos de l칤nea */
}

#table-cicle td.first-column {
    white-space: nowrap; /* Evita que el contenido haga saltos de l칤nea */
    width: 1%; /* Reduce el ancho al m칤nimo necesario */
}

/* 游댳 Estilo general de la tabla */
#table-cicle {
    border-collapse: collapse;
    width: 100%;
}
  
  /* 游댳 Estilo para las celdas */
#table-cicle td {
    padding-right: 8px; /* Espaciado dentro de las celdas */
    padding-left: 8px; 
}
  
  /* 游댳 Eliminar bordes izquierdo, superior e inferior del primer td de cada fila */
 #table-cicle td.first-column {
    border-left: none;
    border-top: none;
    border-bottom: none;
    white-space: nowrap; /* Asegura que el texto no salte de l칤nea */
}
  
  /* 游댳 Centrar el contenido de la segunda columna */
#table-cicle tr td:nth-child(2) {
    text-align: center;
    border: none !important;
}
  
  /* 游댳 Estilo del texto dentro de la tabla */
#table-cicle h3 {
    margin: 0;
    margin-right: 2rem;
}
  
.progress-container {
    position: relative;
    width: 100%;
    height: 40px; /* Mant칠n la altura seg칰n tu dise침o */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo de la barra */
    overflow: hidden; /* Oculta el exceso */
    border: 1px solid #ccc;
}
  
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0; /* Empieza desde 0 */
    background-color: white; /* Mantiene el color original */
    transform-origin: left; /* La animaci칩n comienza desde la izquierda */
}
  
.progress-bar::after {
    position: absolute;
    right: 5px; /* Separaci칩n del borde derecho */
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 12px;
    font-family: "PPMori"; /* Conserva tu fuente personalizada */
}


.section {
    position: relative;
    width: 100%;
    overflow: hidden; /* Evita desbordamiento */
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120% !important;
    object-fit: cover; /* Asegura que la imagen cubra el 치rea sin distorsionarse */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
   
}

html, body {
    overflow-x: hidden !important;
    min-height: 100% !important;
}

#smooth-content {
    min-height: 100vh !important;
}


.border-secondSection-right,
.border-secondSection-left {
    position: relative;
}

.border-secondSection-right .border {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci칩n */
    height: 2px;
    background-color: #ffffff9c !important;
 /*    transform: scaleY(0.75);  */
}

.border-secondSection-right .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /* 游댳 Inicia desde la derecha */
    width: 0;  /* 游댳 Comienza sin ancho */
    height: 2px;
    background-color: #ffffff9c !important;
    /* transform: scaleY(0.75); */
}
.border-secondSection-right .border-top {
    position: absolute;
    top: 100%;  
    right: 0;
    width: 2px;
    height: 0;  /* Inicialmente 0 para animaci칩n */
    background-color: #ffffff9c !important;
}

.border-secondSection-right .border-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
    background-color: #ffffff9c !important;
}

/*-----*/

.border-secondSection-left .border-right {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci칩n */
    height: 2px;
    background-color: #ffffff9c !important;
   /*  transform: scaleY(0.75);  */
}

.border-secondSection-left .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /* 游댳 Inicia desde la derecha */
    width: 0;  /* 游댳 Comienza sin ancho */
    height: 2px;
    background-color: #ffffff9c !important;
    /* transform: scaleY(0.75); */
}
.border-secondSection-left .border-top {
    position: absolute;
    top: 100%;  
    right: 100%;
    width: 2px;
    height: 0;  /* Inicialmente 0 para animaci칩n */
    background-color: #ffffff9c !important;
}

.border-secondSection-left .border-bottom {
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 2px;
    height: 0;
    background-color: #ffffff9c !important;
}

.border-center {
    position: absolute;
    top: 100%;
    left: 50%; 
    width: 0; 
    height: 2px;
    background-color: #ffffff9c !important;
    transform: translateX(-50%); 
  
}

.table-menu {
    table-layout: fixed; /* 游댳 Evita que el navegador ajuste los anchos autom치ticamente */
}

.td-width {
    width: 33.33% !important; /* 游댳 Asegura que cada columna tenga el mismo ancho */
    box-sizing: border-box; /* 游댳 Evita que el `padding` o `border` afecte el tama침o */
}





html, body {
    -webkit-font-smoothing: antialiased; /* Mejora el renderizado de texto y bordes */
    -webkit-backface-visibility: hidden; /* Elimina inconsistencias de renderizado */
    backface-visibility: hidden;
}
/***/

.border-table-right,
.border-table-left {
    position: relative;
}

.border-table-right .border {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci칩n */
    height: 1px;
    background-color: #000 !important;
 /*    transform: scaleY(0.75);  */
}

.border-table-right .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /* 游댳 Inicia desde la derecha */
    width: 0;  /* 游댳 Comienza sin ancho */
    height: 0.5px;
    background-color: #000 !important;
    /* transform: scaleY(0.75); */
}
.border-table-right .border-top {
    position: absolute;
    top: 100%;  
    right: 0;
    width: 1px;
    height: 0;  /* Inicialmente 0 para animaci칩n */
    background-color: #000 !important;
}

.border-table-right .border-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background-color: #000 !important;
}

/*-----*/

.border-table-left .border-right {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;  /* Inicialmente 0 para animaci칩n */
    height: 0.5px;
    background-color: #000 !important;
   /*  transform: scaleY(0.75);  */
}

.border-table-left .border-left {
    position: absolute;
    top: 100%;
    right: 0;  /* 游댳 Inicia desde la derecha */
    width: 0;  /* 游댳 Comienza sin ancho */
    height: 1px;
    background-color: #000 !important;
    /* transform: scaleY(0.75); */
}
.border-table-left .border-top {
    position: absolute;
    top: 100%;  
    right: 100%;
    width: 0.5px;
    height: 0;  /* Inicialmente 0 para animaci칩n */
    background-color: #000 !important;
}

.border-table-left .border-bottom {
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 0.5px;
    height: 0;
    background-color: #000 !important;
}

.border-center-black {
    position: absolute;
    top: 100%;
    left: 50%; 
    width: 0; 
    height: 1px;
    background-color: #000 !important;
    transform: translateX(-50%); 
  
}

.fs-4rem{
    font-size: 4rem;
}

.fs-3rem{
    font-size: 3rem;
}

.fs-3-5rem{
    font-size: 3.5rem;
}

.fs-4rem{
    font-size: 4rem;
}

.fs-2-5rem{
    font-size: 2.5rem;
}

.fs-1-8rem{
    font-size: 1.8rem;
}

.fs-2rem{
    font-size: 2rem;
}

.fs-1-3rem{
    font-size: 1.3rem;
}

.fs-1-2rem{
    font-size: 1.2rem;
}

.fs-1-1rem{
    font-size: 1.1rem;
}

.border-link{
    background-color: #00000021;
    bottom: -5px;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.border-link .border-fill{
    background-color: #000000;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .8s cubic-bezier(.24,.43,.15,.97);
    width: 100%;
}

.border-button-link:hover .border-fill{
    transform: scaleX(1);
    transform-origin: left;
}

.w-60{
    width: 50% !important;
}

.py-10{
    padding-top: 5rem;
    padding-bottom: 5rem;
}



.swiper-button-next-gallery,.swiper-button-prev-gallery,.swiper-button-next-typologies,.swiper-button-prev-typologies{
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: hsla(0, 0%, 8%, 0.294);
    border: unset;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: center;
    transition: .4s ease-in-out;
    width: 75px;   
}

.swiper-button-next-gallery{
    right: 50px !important;
}

.swiper-button-prev-gallery{
    left: 50px !important;
}

.swiper-button-next-gallery::after,.swiper-button-prev-gallery::after,.swiper-button-next-typologies::after,.swiper-button-prev-typologies::after{
    content: '';
}

.swiper-button-next-gallery svg, .swiper-button-prev-gallery svg, .swiper-button-next-typologies svg, .swiper-button-prev-typologies svg {
    width: 20px;
    height: 18px;
}

.text-grey-500{
    color: #545454 
}

.flair {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform-origin: center;

}

.flair--3 {
    color: white !important;
    font-size: 0.8rem;
    font-family: "BasisGrotesqueArabicPro";
    white-space: nowrap;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: calc(50/1440*100vw);
    background: #ffffff40 !important;
    padding: 8px 15px !important;
    letter-spacing: 0.7px;
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la pantalla */
    overflow: hidden;
}


.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Env칤a el video al fondo */
}

/******************/
.container-pins {
   overflow: hidden;
    width: 100%;
}

.stackingcards {
    color: white;
    position: relative;


    .stackingcard {
        border: 1px solid #ccc;
        background-color: #cacaca;
        color: #020202;
        height: 500px;
        width: 100%;
        transform-origin: top center;
        box-sizing: border-box;
    }
}

.end-element {
    width: 100%;
    height: 1px;
    border-top: 1px solid red;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item-wrapper { 
    position: relative; 
    flex: 1;
    background-color: white;
    padding: 15px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

/* new */
.menu-content {
    background-color: silver;
}

.menu-content-wrapper {
    overflow: hidden;
    position: absolute;
    top: calc(100%);
    left: 0;
    pointer-events: 'none';
    z-index: 0;
}

.menu-item-wrapper.active-item .menu-content-wrapper{
    z-index: 1;
}

.menu-content-wrapper-last {
    overflow: hidden;
    position: absolute;
    top: calc(100%);
    right: 0;
    pointer-events: 'none';
    z-index: 1;
}

.menu-departaments {
    top: 100%;
    left: 0;
    background: #f8f8f8;
    list-style: none;
    display: flex;
    padding-left: 0px;
    padding: 8px 15px;
}

.menu-departaments-item{
    font-family: "PPMori";
    font-size: 1rem;
    padding: 10px 20px;
}

.active-item {
    background-color: #000; /* Color de fondo cuando est치 activo */
    transition: background-color 0.1s ease-in-out;

}

.active-item .menu-item{
    color: white;
}

.swiper-typologies{
    overflow: hidden;
}

.swiper-typologies {
    position: relative;
}

.swiper-typologies-pagination{
    display: flex;
    padding: 8px 15px;
    background-color: #f8f8f8;
}

.swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    margin: 0px !important;
    padding: 10px 20px;
}

.map-container {
    position: relative;
    width: 100%;  /* Ocupa todo el ancho disponible */
    padding-top: 56.25%; /* Relaci칩n de aspecto 16:9 */
    overflow: hidden;
    height: 100%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.form-select:focus,.form-control:focus{
    box-shadow: none !important;
}

.form-select{
    color: #8d8d8d !important;
    border: none !important;
    border-bottom: 1px solid #c4c4c4 !important;
    border-radius: 0px !important;
    font-size: 1.1rem !important;
    cursor: pointer;
    font-family: "PPMori" !important;
}

.form-select:hover, .form-select:focus{
    color: #000 !important;
    border-color:#000 !important;
}

.form-control{
    color: #8d8d8d !important;
    border: none !important;
    border-bottom: 1px solid #c4c4c4 !important;
    border-radius: 0px !important;
    font-size: 1.1rem !important;
    cursor: pointer;
    transition: color 1s ease-in;
    font-family: "PPMori" !important;
}

.form-control:hover::placeholder, .form-control:focus::placeholder{
    color: #000 !important;
}

.form-control:hover{
    border-color:#000 !important;
}

.form-control::placeholder{
    color: #8d8d8d !important;
}

footer{
    background: #373737;
    height: 70dvh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


#smooth-wrapper {
    overflow: hidden;
}

#smooth-content {
    padding-bottom: 70dvh; /* Para que no tape el footer */
}

.list-footer li a{
    text-decoration: none;
    font-family: "PPMori";
}

.list-footer li{
    margin-bottom: 10px;
}

.stackingcard {
    min-height: 50vh; /* O ajusta seg칰n necesites */
}

.info-title-social{
    padding-bottom: 0.5rem;
}

.info-title-social:hover{
    text-decoration: underline;
}

.cursor-pointer{
    cursor: pointer;
}




.text-container {
    white-space: nowrap; /* Evita saltos de l칤nea */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    overflow: hidden; /* Evita desbordes si es necesario */
  }
  
  .text-responsive {
    font-size: clamp(14px, 3vw, 24px); /* Ajusta entre 14px y 24px seg칰n el tama침o de la pantalla */
    color: white;
    margin-bottom: 5px;
  }
  
  .text-number {
    font-size: clamp(16px, 4vw, 30px); /* Ajusta entre 16px y 30px para que no haya saltos de l칤nea */
    font-weight: bold;
    display: inline-block;
  }
  
  .text-unit {
    font-size: clamp(12px, 3vw, 22px); /* Escala el tama침o de "m" din치micamente */
    vertical-align: middle;
  }
  